aside .select {
  @media screen and (max-width: 767px) {
    position: fixed;
    right: 10px;
    top: 10px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.about-me-container .select {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 4px 8px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  line-height: inherit;
  outline: none;
  height: 26px;
  color: $sidebar-bg-color;
  font-weight: 500;
}

select::-ms-expand {
  display: none;
}

.select {
  // max-width: 3ch;
  max-width: 52px;
  border: 1px solid $accent-color;
  border-radius: 0.25em;
  padding: 0;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: $item-sidebar-color;
  background-image: linear-gradient(
    to top,
    $item-sidebar-color,
    $sidebar-text-color 33%
  );

  &:focus-within {
    outline: 2px solid $accent-color;
  }
}

option {
  color: $accent-color;
  white-space: normal;
  font-weight: 500;
}
